---

- hosts: all
  gather_facts: yes
  remote_user: root

  vars_files:
    - ./group_vars/all.yml

  tasks:
    - name: Run container
      community.docker.docker_container:
        name: devops-example-app
        image: hexletcomponents/devops-example-app
        published_ports: 80:5000
        restart_policy: always
        restart: yes
        container_default_behavior: no_defaults
        pull: yes
        env:
          SERVER_MESSAGE: '{{ ansible_default_ipv4.address }}'

  roles:
    - datadog.datadog
    - geerlingguy.pip
